{% extends "index.html" %}
{% block title %}
    <title>Registrar producto</title>

    {% load static %}
    <link  href="{% static 'css/producto.css' %}" rel="stylesheet">
    <script src="{% static 'js/prod.js' %}"></script>

{% endblock %}
{% block content %}
{% load static %}
<div id="registro" class="row">
    <div class="col-sm-3"></div>
        <div class="col-sm-6">
        <div class="masthead container d-flex flex-column mt-2" style="max-width: 1140px;">
            <br>
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h3 class="title">REGISTRAR PRODUCTO</h3>
                </div>
            </div>
            <hr>
            <form id="" action="{% url 'create_prod' %}" name="registro" method="POST" autocomplete="on" enctype="multipart/form-data">
                {%csrf_token%}
                <div class="form-group" >
                    <label for="id_prod">Código del producto:</label>
                        <input type="text" class="form-control" name="id_prod" id="id_prod" placeholder="Código">
                </div>
                <div class="form-group" >
                    <label for="nom_prod">Nombre del producto:</label>
                        <input type="text" class="form-control" name="nom_prod" id="nom_prod" placeholder="Nombre">
                </div>
                <div class="form-group" >
                    <label for="precio">Precio del producto:</label>
                        <input type="text" class="form-control" name="precio" id="precio" maxlength="8" placeholder="Precio">
                </div>
                <div class="form-group" >
                    <label for="categoria_id_cate">Categoría del producto:</label>
                        {{form.categoria_id_cate}}
                </div>
                <div class="form-group" >
                    <label for="tipo_producto_id_tipo">Tipo de producto:</label>
                        {{form.tipo_producto_id_tipo}}
                </div>
                <div class="form-group" >
                    <label for="proveedor_rut">Proveedor del producto:</label>
                        {{form.proveedor_rut}}
                </div>
                <div class="form-group" >
                    <label for="imagen">Precio del producto:</label>
                        <input type="file" class="form-control" name="imagen" id="imagen" placeholder="Imagen">
                </div>
                <br>
                <div class="text-center">
                        <a href="{% url 'catalogo' %}" class="btn-volver">Volver
                            <i class="fa fa-chevron-circle-left" aria-hidden="true"></i></a>
                        <button type="submit">Registrar
                            <i class="fa fa-check"></i>
                        </button>
                </div>
                <br>
            </form>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>
{% endblock %}