*
{
  margin:0;
  padding:0;
}

.card-img-top{
  height:250px;
  width:100%;
}

.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}
.btn-maincolor {
  color: #fff;
  background-color: #1796c0;
  border-color: #1796c0;
}

.footer {
  background-color: #ebebebdc;
}

.footer-basic {
  background-color: #ffffff;
  color: #0b396c
}

.footer-basic ul {
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .copyright {
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
  color: #0a386b;
  margin-bottom: 0;
}

.btn-celeste {
  color: #fff;
  background-color: #1796c0;
  border-color: #1796c0;
  font-family: "Roboto", sans-serif;
}

.btn-primary1 {
  color: #fff;
  background-color: #159a80;
  border-color: #148f77;
  font-family: "Roboto", sans-serif;
}

.ocultar {
  display: none;
}

.mostrar {
  display: block;
}